/* YapTeX generated */
@font-face {
    font-family: 'Bitter';
    font-weight: normal;
    font-style: normal;
    src: url(Bitter-Regular.ttf);
}

@font-face {
    font-family: 'Bitter';
    font-weight: normal;
    font-style: italic;
    src: url(Bitter-Italic.ttf);
}

@font-face {
    font-family: 'Bitter';
    font-weight: bold;
    font-style: normal;
    src: url(Bitter-Bold.ttf);
}

@font-face {
    font-family: 'Bitter';
    font-weight: bold;
    font-style: italic;
    src: url(Bitter-BoldItalic.ttf);
}
